pm-interview-bot/interview_bot.json
{
  "name": "interview_bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pm-interview-question",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -48
      ],
      "id": "983dc199-a9a4-4ba6-99bf-1d7febcc753b",
      "name": "Webhook",
      "webhookId": "b0ee1d40-f898-4af1-a46b-13b56d9082ec"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-lite-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": $json.prompt }] }] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        48
      ],
      "id": "64e1bcc6-af71-4115-aeca-5ba47ed7da25",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"question\": $json.candidates[0].content.parts[0].text.trim() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        48
      ],
      "id": "e39f11d0-bcbd-443d-8149-d942586678f2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/gauravbansal1410/learning-ai-agents/contents/pm-interview-bot/question_history_{{ $json.body.type }}.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $env.GITHUB_PAT }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        48
      ],
      "id": "2e16e78f-286b-4dd8-880d-17fa9b701283",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const type = $input.first().json.body?.type || 'product_design';\n\nconst prompts = {\n  product_design: 'You are a PM interview coach. Generate one product design interview question for a Senior PM - generalist candidate. The question should be specific and challenging, not generic.',\n  product_sense: '',\n  execution: ''\n};\n\nconst base64Content = $input.first().json.content;\nconst decoded = Buffer.from(base64Content, 'base64').toString('utf-8');\nconst historyText = decoded.trim().length > 20\n  ? `Do NOT repeat any of these past questions:\\n${decoded}`\n  : 'No past questions yet.';\n\nconst prompt = `${prompts[type]}\\n\\n${historyText}\\n\\nReturn ONLY the question. No intro, no explanation, no numbering.`;\n\nreturn {\n  prompt: prompt,\n  sha: $input.first().json.sha,\n  type: type\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        48
      ],
      "id": "d2958047-f602-47f9-9672-473a8c12ca58",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb8aacab-6cea-4f2c-a965-dbc470e35f33",
              "leftValue": "={{ $json.body.mode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -48
      ],
      "id": "1be2ce4d-cbdd-42c5-a6f2-872c41e1c133",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "805c475b-60f8-4af8-b1cc-4634198ddbda",
              "leftValue": "={{ $json.body.mode }}",
              "rightValue": "model_answer",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -160
      ],
      "id": "e1e92511-0579-498a-9772-da6814bffe8c",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-lite-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": \"You are a PM interview coach. Give a strong model answer for this product design interview question. Structure it clearly: user insight, problem definition, solutions, trade-offs, success metrics. Be specific and concise.\\n\\nQuestion: \" + $json.body.question }] }] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -336
      ],
      "id": "ce70bf34-6154-4473-836e-d3138b9dd423",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"model_answer\": $json.candidates[0].content.parts[0].text.trim() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        -336
      ],
      "id": "94d4d901-3df7-45ec-835e-6801140222d2",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-lite-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": \"You are a PM interview coach. The candidate is answering this question:\\n\\n\" + $json.body.question + \"\\n\\nHere are their notes so far:\\n\\n\" + $json.body.notes + \"\\n\\nGive them one short, specific nudge (2-3 sentences max) to push their thinking further. Don't give the answer away. Point to what they are missing or what to explore next.\" }] }] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -144
      ],
      "id": "bf05f278-c1d3-478f-b4bd-06b309aae87d",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"nudge\": $json.candidates[0].content.parts[0].text.trim() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        -144
      ],
      "id": "86ea1121-b8ae-4860-a60d-add5441b6f44",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "70052f8c-6cf0-4a66-b7fb-b6d9a4bbde09",
  "meta": {
    "instanceId": "f20372e1109effec654b2b932d6bd400cdd1ddd75e4f739a3cf69d8e94a56046"
  },
  "nodeGroups": [],
  "id": "jdSMDqiL3VmhDKxu",
  "tags": []
}