pm-interview-bot/interview_bot.json
{
  "name": "interview_bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pm-interview-question",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -32
      ],
      "id": "983dc199-a9a4-4ba6-99bf-1d7febcc753b",
      "name": "Webhook",
      "webhookId": "b0ee1d40-f898-4af1-a46b-13b56d9082ec"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-lite-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": $json.prompt }] }] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -32
      ],
      "id": "64e1bcc6-af71-4115-aeca-5ba47ed7da25",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"question\": $json.candidates[0].content.parts[0].text.trim() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        -32
      ],
      "id": "e39f11d0-bcbd-443d-8149-d942586678f2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/gauravbansal1410/learning-ai-agents/contents/pm-interview-bot/question_history_{{ $json.body.type }}.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $env.GITHUB_PAT }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        -32
      ],
      "id": "2e16e78f-286b-4dd8-880d-17fa9b701283",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const type = $input.first().json.body?.type || 'product_design';\n\nconst prompts = {\n  product_design: 'You are a PM interview coach. Generate one product design interview question for a Senior PM - generalist candidate. The question should be specific and challenging, not generic.',\n  product_sense: '',\n  execution: ''\n};\n\nconst base64Content = $input.first().json.content;\nconst decoded = Buffer.from(base64Content, 'base64').toString('utf-8');\nconst historyText = decoded.trim().length > 20\n  ? `Do NOT repeat any of these past questions:\\n${decoded}`\n  : 'No past questions yet.';\n\nconst prompt = `${prompts[type]}\\n\\n${historyText}\\n\\nReturn ONLY the question. No intro, no explanation, no numbering.`;\n\nreturn {\n  prompt: prompt,\n  sha: $input.first().json.sha,\n  type: type\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -32
      ],
      "id": "d2958047-f602-47f9-9672-473a8c12ca58",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "9d2ddedf-0f64-4849-8c5f-c4ec97d6af0b",
  "meta": {
    "instanceId": "f20372e1109effec654b2b932d6bd400cdd1ddd75e4f739a3cf69d8e94a56046"
  },
  "nodeGroups": [],
  "id": "jdSMDqiL3VmhDKxu",
  "tags": []
}